input[type="radio"].form-radio:checked {
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23363b5c' d='M9.172 16.828l6-6a.5.5 0 0 0-.707-.707l-5.146 5.147-1.147-1.146a.5.5 0 0 0-.707 0l-.707.707a.5.5 0 0 0 0 .707z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    border-color: #363b5c;
}
